*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.kjero-contenedor{
  height: 500px;
  width: 600px;
  background-color: rgb(156, 156, 156);
  background-image: linear-gradient(to bottom, rgb(139, 139, 139), rgb(153, 150, 150));
  position: relative;
  margin: 0px auto;
  border-radius: 5%;
}
.botones{
  position: absolute;
  top: 250px;
  left: 50px;
  
}

.datos{
  position: absolute;
  left: 50px;
  width: 495px;
  height: 230px;
  
  border: 3px solid black;
  background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
  
}
button,
.costado1,
.costado2,
.letras,
h2,
hr,
p{
  position: absolute;
}
.letras{
  top: 260px;
  left: 350px;
}
.costado2{
  right: 45px;
}
.option1,
.option2,
.option3,
.option4,
.option,
h2,
hr{
  display: inline-block;
}
.option1{
  top: 20px;
}
.option2{
  top: 50px;
}
.option3{
  top: 80px;
}
.option4{
  top: 110px;
}
.option{
  top: 20px;
  left: 150px;
}
#cancel{
  height: 25px;
  width: 90px;
}
#clear{
  margin-top: 30px;
  height: 25px;
  width: 90px;
}
#ok{
  margin-top: 60px;
  height: 25px;
  width: 90px;
}
#button1,
#button4,
#button7,
#buttonnada{
  margin-left:  5px;
  width: 30px;
  height: 25px;
}
#button2,
#button5,
#button8,
#button0{
  margin-left:  48px;
  width: 30px;
  height: 25px;
}
#button3,
#button6,
#button9,
#buttonp{
  margin-left:  90px;
  width: 30px;
  height: 25px;
}
.rece{
  left: 150px;
}
.cash{
  top: 20px;
}
.depo{
  top: 60px;
}
#first,
#four{
  margin-top: 60px;
  width: 40px;

}
#second,
#five{
  margin-top: 90px;
  width: 40px;

}
#third,
#six{
  margin-top: 120px;
  width: 40px;
}
#afterall,
#afterall2{
  margin-top: 150px;
  width: 40px;
  display: none;
}
#first,
#second,
#third,
#afterall{
  margin-left: 5px;
}
hr{
  width: 50px;
  height: 10px;
  background-color: black;
  margin-top:  40px;
  border: 5px solid rgba(139, 139, 139, 0.719);
}
#cash,
#depo{
  width: 200px;
}
/***capas**/
#segunda-capa,
#tercera-capa,
#cuarta-capa,
#quinta-capa,
#sexta-capa,
#septima-capa{
  display: none;
}
#welcome{
  margin-left: 40%;
}
/**triangulos**/
.triangulo {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 20px solid #f0ad4e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-top: 40px; 
}
.triangulo-inver {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-right: 20px solid #f0ad4e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right-width: 24px;
  left: 95.2%;
  margin-top: 40px;
}
/***estilos primera pantalla***/
.bienvenido-retiro{
  position: absolute;
  top: 2%;
}
.bienvenido-p1{
  left: 40%;
}
/***triangulos posicion**/
.primera{
  top: 30%;
}
.segunda{
  top: 42.5%;
}
.tercera{
  top: 55%;
}
.cuarta{
  top: 68.5%;
}
/****letras-opciones posicion******/
.opcion{
  left: 5%;
  font-size: large;
}
.opcion2{
  left: 73%;
  font-size: large;
}
.o1{
  top: 47%;
}
.o2{
  top: 60%;
}
.o3{
  top: 73%;
}
.o4{
  top: 85.5%;
  left: 80.5%;
}
/****size de las letras segunda pantalla pantalla*****/
.letras-p1{
  font-size: 19px;
  top: 69%;
  left: 82%;
}
.letras-p1-2{
  font-size: 19px;
  top: 75%;
  left: 74%;
}
/****size de las letras tercera pantalla***/
.letras-p3{
  font-size: 19px;
  top: 43%;
}
.letras-p3-2{
  font-size: 19px;
  top: 50%;
}
.letra-costado{
  left: 82.5%;
}
/******size de las letras cuarta pantalla*****/
.letras-p4{
  left: 84.5%;
}
.letras-p4-2{
  left: 75.5%;
}
/****size quinta pantalla***/
.ingresar10{
  left: 30%;
}
.multiplos10{
  left: 40%;
  top: 13%;
}
.cantidad{
  position: absolute;
  left: 40%;
  top: 30%;
}
.sinborde{
  background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
  
  border: 0;
}
.p5-1{
  left: 78%;
}
.p5-2{
  left: 80.5%;
}
/****size sexta pantalla****/
.p6{
  left: 90.5%;
}
.transaccion{
  left: 35%;
}
.otrat{
  top: 13%;
  left: 30%;
}




.card,.rece,.cash,.depo{
  font-size: large;
}
.botonprime{
  top: 50px;
  border-radius: 7px ;
  border: rgb(0, 0, 0) 1.5px solid;
  background-image: linear-gradient(to top, black, rgb(97, 97, 97));
  color: #dddddd;
}
.textofinal{
  margin-left: 35%;
  position: absolute;
}
.text1{
  margin-top: 15%;
}
.text2{
  margin-top: 20%;
}

/****colores****/
.colorboton{
  border-radius: 7px;
  border: black 1px solid;
  background-image: linear-gradient(to top, rgb(161, 161, 161), white);
}
#cancel{
  border-radius: 7px;
  background-color: red;
  border: red ;
}
#clear{
  border-radius: 7px;
  background-color: orange;
  border: orange;
}
#ok{
  border-radius: 7px;
  background-color: green;
  border: green;
}

.cardletra{
  top: -20px;
}
.money{
  top:40px;
}
.money1{
  top: 80px;
}





